@import url(https://fonts.googleapis.com/css?family=Chivo);

* {
  box-sizing: border-box;
}

.container {
  text-align: center;
}
h1 {
  color: white;
  letter-spacing: 1px;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #393939;
  font-family: "Chivo", arial, tahoma, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

h2 {
  margin: 15% auto 5% auto;
  text-align: center;
  color: #ffffff;
}

form {
  margin: 0 auto;
  padding: 20px;
  width: 400px;
  height: auto;
  overflow: hidden;
  border-radius: 3px;
  display: inline;
}

[type="text"] {
  margin-right: 10px;
  padding: 12px;
  width: auto;
  max-width: 300px;
  height: auto;
  background-color: #929292;
  border: none;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

label {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  width: auto;
  max-width: 300px;
  height: auto;
  background-color: #929292;
  border: none;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

[type="text"]::placeholder {
  color: #fff;
  font-family: "Chivo", arial, tahoma, sans-serif;
  font-size: 16px;
  font-weight: normal;
}

label:hover {
  background: #adadad;
}

[type="file"],
[type="submit"] {
  display: none;
}
